#table-panel-groups {
    margin: auto auto -25px;
}

#table-panel-groups h2 {
    margin-left: 20%;
}

#dividerGroups {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#alert-groups-error {
    margin-top: -73px;
}

/***** Media Queries *****/
@media screen and (max-width: 1199px) {
    #alert-groups-error {
        margin-top: auto;
    }
}

@media screen and (max-width: 375px) {
    #table-panel-groups {
        width: 95%;
    }

    #table-container-groups {
        height: 349px;
    }
}