#nav {
    background: #222c37;
    box-shadow: 7px -4px 20px #888888;
}

.heading {
    color: #D0F8FF;
    text-shadow: 0 0 5px #19e3b1, 0 0 10px #19e3b1,
    0 0 20px #19e3b1, 0 0 30px #19e3b1,
    0 0 40px #19e3b1;
}

#brand {
    color: #19e3b1;
}

#navCollapse a {
    height: 69px;
}